.experience-item {
	display: flex;
	flex-direction: column;
  height: 68vh;
  width: 28vw;
  margin: 20px;
  align-items: center;
  border-radius: 14px;
	background-color: white;
  box-shadow: 2px 2px 16px 0px #333;
  overflow: hidden;
}

.experience-item img {
  display: block;
  height: 60px;
  width: auto;
  margin: 10px;
}

.exp-item-pos-date {
  display: flex;
  flex-direction: column;
	color: black;
}

.exp-item-pos-date p {
  margin: 2px;
}

#position {
  font-size: 18px;
  font-weight: bold;
}

.desc-list {
  display: table-cell;
  flex-direction: column;
  margin: 10px 12px;
  padding: 18px;
  text-align: left;
  vertical-align: center;
  overflow: hidden;
}

.desc-item {
  margin: 0 0 8px;
  color: black;
}

@media only screen and (max-width: 750px) {
  .experience-item {
    flex-direction: row;
    height: 20vh;
    width: 90vw;
  }

  .exp-item-pos-date {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .experience-item img {
    height: 15vw;
  }

  .desc-list {
    display: none;
  }
}

@media only screen and (min-height: 1000px) {
  .experience-item {
    height: 40vh;
  }
}