.navbar {
  display: flex;
  width: 100%;
  margin: 40px 0;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 32px;
}

.nav-item a {
  text-decoration: none;
  font-size: 16px;
  color: #5A5D7A;
  font-family: 'Monaco';
}

.nav-item a:hover {
  color: #A2AAEA;
}

@media only screen and (max-width: 900px) {
  .navbar {
    justify-content: space-evenly;
  }

  .nav-item {
    margin: 0;
  }
}