.project-item {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 20vw;
  margin: 20px;
  align-items: center;
  border-radius: 14px;
  background-color: white;
  box-shadow: 2px 2px 16px 0px #333;
  overflow: hidden;
}

.project-item img {
  display: block;
  height: 90px;
  width: auto;
  margin: 10px;
}

.project-desc,
.project-tools {
  color: black;
  margin: 0 16px 12px;
  font-size: 15px;
}

.project-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-tools p {
  font-size: 14px;
  font-weight: 450;
  padding: 6px;
  margin: 4px;
  background-color: #ddd;
  border-radius: 8px;
}

@media only screen and (max-width: 750px) {
  .project-item {
    flex-direction: row;
    height: 30vh;
    width: 90vw;
  }

  .project-item img {
    height: 12vw;
  }

  .project-desc {
    display: none;
  }

  .project-tools {
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .project-item p {
    font-size: 10px;
  }
}

@media only screen and (min-height: 1000px) {
  .project-item {
    height: 40vh;
  }
}