.typewriter {
  display: flex;
  justify-content: flex-start;
  margin: 0 64px;
  /* color: #5A5D7A; */
  font-family: 'Monaco';
  font-weight: 700;
  /* font-family: monospace; */
  font-size: 48px;
  pointer-events: none;
}

.typewriter span {
  height: 48px;
  width: 28px;
  margin: 8px 6px 0;
  background-color: #000000ad;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

@media only screen and (max-width: 900px) {
  .typewriter {
    font-size: 24px;
    margin: 0;
  }

  .typewriter span {
    height: 28px;
    width: 18px;
    margin: 0 4px;
  }
}