.app-container {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  background-color: #F6F9FC;
}

@media only screen and (max-width: 900px) {
  .app-container {
    padding: 0 24px;
  }
}